body {
  background-color: #fef9f8;
}

.nav-link {
  color: black;
}

.header {
  background-color: #fef9f8;
}
.header.sticky-top {
  background-color: #ef9273;
}
.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/4One/PortalBuku-4One/resources/gambar/baca-buku.jpg) center center
      no-repeat;
  background-size: cover;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.team-item .team-text {
  position: relative;
  height: 65px;
  overflow: hidden;
}

.team-item .team-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team-item:hover .team-title {
  top: -65px;
}

.team-item .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 65px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  transition: 0.5s;
}

.team-item .team-social .btn {
  margin: 0 3px;
}

.team-item:hover .team-social {
  top: 0;
}

.navbar-brand {
  color: white;
  font-size: 200%;
  font-family: Abril Fatface;
  font-weight: bold;
}

.input-group button[type="button"] {
  border: 2px solid #ef9273;
}

input[type="text"] {
  width: auto;
  border: 2px solid #ef9273;
  border-radius: 4px;
}
input[type="password"] {
  border: 2px solid #ef9273;
  border-radius: 4px;
}

input[type="date"] {
  border: 2px solid #ef9273;
  border-radius: 4px;
}

input[type="tel"] {
  border: 2px solid #ef9273;
  border-radius: 4px;
}

input[type="email"] {
  border: 2px solid #ef9273;
  border-radius: 4px;
}

.form-select {
  border: 2px solid #ef9273;
}

.fasilitas {
  background-color: #ffe2d8;
}

p {
  font-size: 90%;
}

.h {
  width: 100%;
  height: 5px;
  border: 5px solid #ef9273;
  background-color: #ef9273;
}

#peta {
  background-color: white;
}

#hubkami {
  background-color: white;
}

#pesan {
  border: 2px solid #ef9273;
  border-radius: 4px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  padding-top: 1%;
  padding-bottom: 0.5%;
  background-color: #ef9273;
}

.img-account-profile {
  width: 60%;
}

.tambah-buku form .box {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}
